<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BilgeAdam Akademi - Seminer </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <div class="preloader" id="preloader" style="display: none;">
        <div class="preloader-inner">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <nav class="navbar navbar-area navbar-expand-lg absolute">
        <div class="container-fluid nav-container">
            <div class="logo-wrapper navbar-brand">
                <a href="/" class="logo ">
                    <img src="~/images/logo.png" alt="logo">
                </a>
            </div>
        </div>
    </nav>
    <div class="header-area header-bg" id="app">

    </div>
    <footer class="footer-area footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget about_widget">
                        <a href="index.html" class="footer-logo"><img src="/images/footer-logo.png" alt=""></a>
                        <div class="copyright-text margin-top-30">© Copyright 2019 BilgeAdam </div>
                        <div class="copyright-text margin-top-30">Can PERK</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/TweenMax.js"></script>
    <script src="~/js/mousemoveparallax.js"></script>
    <script src="~/js/main.js"></script>
    <script src="../../node_modules/react/umd/react.development.js"></script>
    <script src="../../node_modules/react-dom/umd/react-dom.development.js"></script>
    <script src="~/dist/bundle.js"></script>
</body>
</html>